nav {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.801);
    background-position: top;
    position: sticky;
    top: 0px;
    height: 81px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    .h2 {
       @extend %monaco
    }

    .navul {
        list-style-type: disc;
        line-height: 1.5;
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        .ini {
            margin: 15px;
            list-style-type: none;
            text-decoration: none;
            text-align: right;
            color: blanchedalmond;
            color: rgb(201, 0, 0);
            border-radius: 3px;

        }

        a {
            text-decoration: none;
            color: rgb(201, 0, 0) ;

            &:hover {
                font-weight: bold;
                color: rgba(214, 58, 18, 0.932);
            }

        }

    }

};
@each $color in red, grey,red, grey,red,
{
    .ini#{$color} {
        background-color: $color;
    }
}
main {
    min-height: 80vh;
    display: grid;
    grid-template-columns: repeat(1fr, 1fr, 1fr);
    grid-template-areas: "auto1 video auto3"
        "auto2 video auto4";
    width: 100%;
    padding: 20px 20px 20px 20px;

    .auto1 {
        grid-area: auto1;
    }

    .auto2 {
        grid-area: auto2;
    }

    .video {
        grid-area: video;
    }

    .auto3 {
        grid-area: auto3;
    }

    .auto4 {
        grid-area: auto4;
    }

    .video__tiktok {
        width: 350px;
        height: 600px;
     
    }
}
footer {
    height: 89px;
    color: blanchedalmond;
    background-color: rgba(0, 0, 0, 0.801);

    h2 {
        @extend %monaco
    }

    ul {
        
        display: flex;
        list-style: none;
        justify-content: center;
        width: 450px;
        height: 0 auto;

        .f {
            margin: 10px;
           
        }
        a {
            text-decoration: none;
            color: rgb(201, 0, 0) ;

            &:hover {
                font-weight: bold;
                color: rgba(214, 58, 18, 0.932);
            }

        }
    }
}
$redes: (
    instagram: pink,
    facebook: blue
);
    

    @each $redsocial, $colors in $redes {
        .f#{$redsocial} {
            background-color: $colors;
        }
    };

    
    