@media screen and (max-width: 680px) {
    .nav {
        height: auto;
    }

    .footer {
        height: auto;
    }

    /*index*/
    .main__index {
        width: 100%;
        justify-content: center;
        align-items: center;
        gap: 8px;
        grid-template-columns: repeat(1fr);
        grid-template-areas:
            "puerta"
            "video"
            "auto1"
            "auto2"
            "auto3"
            "auto4";
    }

    .autos {
        justify-content: center;
        align-items: center;
    }

    .autos iframe {
        height: 416px;
        width: 80%;
        justify-content: center;

    }
    .video {
        width: auto;
    }
    .video__tiktok {
        width: 80%;
        height: 430px;
        justify-content: center;
        align-items: center;
    }


    /*Autos*/
    .main__container {
        display: flex;
        flex-flow: wrap;
        justify-content: center;
    }

    /*Boutique*/
    .main__boutique {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-areas:
            "servicios"
            "videosb";
        justify-content: center;
        gap: 8px;
    }

}