@media screen and (max-width: 680px) {
    .nav {
        height: auto;
    }

    .footer {
        height: auto;
    }

    /*index*/
    .main__index {
        width: 100%;
        justify-content: center;
        align-items: center;
        gap: 8px;
        grid-template-columns: repeat(1fr);
        grid-template-areas:
            "puerta"
            "video"
            "auto1"
            "auto2"
            "auto3"
            "auto4";
    }

    .autos {
        justify-content: center;
        align-items: center;
    }

    .autos iframe {
        height: 416px;
        width: 80%;
        justify-content: center;

    }

    .video {
        width: auto;
    }

    .video__tiktok {
        width: 80%;
        justify-content: center;
        align-items: center;
        margin: 10% 10% 10% 10%;
    }


    /*Autos*/
    .main__container {
        display: flex;
        flex-flow: wrap;
        justify-content: center;
    }

    /*Boutique*/
    .main__boutique {
        flex-direction: column;
        flex-flow: wrap;
        gap: 8px;
    }

    .servicios {
        width: 75%;
    }

    .videosb {
        display: contents;
    }

    /*Contacto*/
    .main__contacto {
        flex-flow: wrap-reverse;
        height: auto;
    }

    .main__contactop {
        width: 95%;
        margin: 6%;
        padding: 6%;
    }

    /*Quienes somos*/
    .main__quienessomos {
        height: 160vh;
    }

}

@media screen and (max-width: 950px) {

    /*index*/
    .video__tiktok {
        height: 520px;
    }

    /*Auto*/
    .main__container {
        grid-template-columns: repeat(2, 1fr);
    }

    /*Boutique*/
    .videosb {
        margin: 1% 10% 4% 0%;
    }

    /*Contacto*/
    .main__contacto {
        height: 100%;
    }
    .main__contactop {
        width: 95%;
        margin: 6%;
        padding: 6%;
    }

    /*Quienes somos*/
    .main__quienessomos {
        height: 100%;
    }
}