/*auto*/
.main__autos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    
    img {
     -webkit-animation: tracking-in-expand-fwd 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-expand-fwd 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    }
}

.main__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
    justify-items: center;
    justify-content: center;
}

.autos {
    transition: all 2s;

    &:hover {
        transform: scale(1.03);
    }

    iframe {
        height: 330px;
    }
}

/*Boutique*/
.main__boutique {
    height: auto;
    width: 100%;
    background-image: url(../imagenes/autoo.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;

}

.servicios {
    background-color: rgba(245, 235, 235, 0.973);
    justify-content: center;
    justify-items: center;
    text-align: center;
    height: 75%;
    width: 50%;
    padding: 10px 10px 10px 10px;
    margin: 100px 100px 100px 100px;
    border-radius: 4%;
    font-family: $boutique;

    h1 {
        text-align: center;
        @extend %titulo ; 
     -webkit-animation: tracking-in-expand-fwd 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-expand-fwd 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    }

    h2 {
        font-size: 25px;
    }

   img {
    width: 50%;
    margin: 2% 2% 2% 2%;
    transition: all 2s;

    &:hover {
        transform: scale(1.03);
    }
   }
}

.serv {
    text-decoration: none;
    list-style-type: none;
    font-size: 22px;
    transition: all 2s;

    &:hover {
        transform: scale(1.03);
    }
}

.videob {

    justify-content: center;
    justify-items: center;
    width: 100%;

}

.video__boutique {
    justify-content: center;
    justify-items: center;
    width: 100%;
    height: 550px;
    margin: 44% 10% 10% 10%;
   
}

/*Contactos*/
.main__contacto {
   width: 100%;
   height: 160vh;
   display: flex;
    justify-content: center;
   align-items: center;
    gap: 16%;
    padding: 10%;
   
}

.main__contactop {
    width: 50%;
    height: max-content;
    background-color: rgb(211 130 135 / 75%);
    border-radius: 5%;
   padding: auto;
   text-align: center;
   padding: 2%;
  
}
.main__contactop2 {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 8%;
    justify-content: space-evenly;
}
.cimg {
    width: 100%;
}
.maps{
    width: 100%;
    height: 100%;
}

/*Quienes somos*/
.main__quienessomos {
    height: 140vh;

    h1 {
        text-align: center;
        @extend %titulo ; 
        font-family: $quines;
     -webkit-animation: tracking-in-expand-fwd 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-expand-fwd 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
            
    }
}

.quines {
    text-align: center;
    font-family: $quines;
}

.img {
    width: 40%;
    height: 70%;
}

.qp {
    padding: 4% 10% 4% 10%;
    font-family: $quines;
}

 @-webkit-keyframes tracking-in-expand-fwd {
    0% {
      letter-spacing: -0.5em;
      -webkit-transform: translateZ(-700px);
              transform: translateZ(-700px);
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
  }
  @keyframes tracking-in-expand-fwd {
    0% {
      letter-spacing: -0.5em;
      -webkit-transform: translateZ(-700px);
              transform: translateZ(-700px);
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
  }
  