@import url("https://fonts.googleapis.com/css2? family=Combo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik+Dirt&family=Rubik+Marker+Hatch&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");
footer h2, nav .h {
  color: white;
}
footer h2::first-letter, nav .h::first-letter {
  color: rgba(206, 21, 21, 0.596);
  font-size: 42px !important;
}

.main__quienessomos h1, .servicios h1, .m {
  color: black;
}
.main__quienessomos h1::first-letter, .servicios h1::first-letter, .m::first-letter {
  color: rgba(128, 6, 6, 0.596);
  font-size: 42px;
}

.main__index {
  display: grid;
  align-items: center;
  justify-content: center;
  gap: 4%;
  grid-template-columns: repeat(1fr, 1fr, 1fr);
  grid-template-areas: "puerta puerta puerta" "auto1 video auto3" "auto2 video auto4";
}

.puerta {
  grid-area: puerta;
}

.auto1 {
  grid-area: auto1;
}

.auto2 {
  grid-area: auto2;
}

.video {
  grid-area: video;
}

.m {
  padding: 2%;
  margin: 10%;
  text-align: center;
  font-family: "Rubik Dirt", cursive;
}

.auto3 {
  grid-area: auto3;
}

.auto4 {
  grid-area: auto4;
}

.video__tiktok {
  width: 350px;
  height: 600px;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
*::-moz-selection {
  background-color: rgba(214, 57, 18, 0.596);
}
*::selection {
  background-color: rgba(214, 57, 18, 0.596);
}
*::-moz-selection {
  background-color: rgba(214, 57, 18, 0.596);
}

#gradientebottomright {
  background-image: linear-gradient(to bottom right, rgba(201, 0, 0, 0.774), rgba(214, 57, 18, 0.596));
}

.monaco {
  text-decoration: none;
}

/*auto*/
.main__autos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.main__autos img {
  -webkit-animation: tracking-in-expand-fwd 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  animation: tracking-in-expand-fwd 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

.main__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
  justify-items: center;
  justify-content: center;
}

.autos {
  transition: all 2s;
}
.autos:hover {
  transform: scale(1.03);
}
.autos iframe {
  height: 330px;
}

/*Boutique*/
.main__boutique {
  height: auto;
  width: 100%;
  background-image: url(../imagenes/autoo.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
}

.servicios {
  background-color: rgba(245, 235, 235, 0.973);
  justify-content: center;
  justify-items: center;
  text-align: center;
  height: 75%;
  width: 50%;
  padding: 10px 10px 10px 10px;
  margin: 100px 100px 100px 100px;
  border-radius: 4%;
  font-family: "Indie Flower", cursive;
}
.servicios h1 {
  text-align: center;
  -webkit-animation: tracking-in-expand-fwd 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  animation: tracking-in-expand-fwd 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}
.servicios h2 {
  font-size: 25px;
}
.servicios img {
  width: 50%;
  margin: 2% 2% 2% 2%;
  transition: all 2s;
}
.servicios img:hover {
  transform: scale(1.03);
}

.serv {
  text-decoration: none;
  list-style-type: none;
  font-size: 22px;
  transition: all 2s;
}
.serv:hover {
  transform: scale(1.03);
}

.videob {
  justify-content: center;
  justify-items: center;
  width: 100%;
}

.video__boutique {
  justify-content: center;
  justify-items: center;
  width: 100%;
  height: 550px;
  margin: 44% 10% 10% 10%;
}

/*Contactos*/
.main__contacto {
  width: 100%;
  height: 160vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16%;
  padding: 10%;
}

.main__contactop {
  width: 50%;
  background-color: rgba(211, 130, 135, 0.75);
  border-radius: 5%;
  padding: auto;
  text-align: center;
  padding: 2%;
}

.main__contactop2 {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 8%;
  justify-content: space-evenly;
}

.cimg {
  width: 100%;
}

.maps {
  width: 100%;
  height: 100%;
}

/*Quienes somos*/
.main__quienessomos h1 {
  text-align: center;
  font-family: "Combo", cursive;
  -webkit-animation: tracking-in-expand-fwd 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  animation: tracking-in-expand-fwd 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

.quines {
  height: 120vh;
  text-align: center;
  font-family: "Combo", cursive;
}

.img {
  width: 40%;
  height: 70%;
}

.qp {
  padding: 4% 10% 4% 10%;
  font-family: "Combo", cursive;
}

@-webkit-keyframes tracking-in-expand-fwd {
  0% {
    letter-spacing: -0.5em;
    transform: translateZ(-700px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes tracking-in-expand-fwd {
  0% {
    letter-spacing: -0.5em;
    transform: translateZ(-700px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    transform: translateZ(0);
    opacity: 1;
  }
}
nav {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.801);
  background-position: top;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  height: 81px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
nav .h {
  font-weight: 800;
  -webkit-animation: tracking-in-expand-fwd 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  animation: tracking-in-expand-fwd 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}
nav .navul {
  list-style-type: disc;
  line-height: 1.5;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
nav .navul .ini {
  margin: 15px;
  list-style-type: none;
  text-decoration: none;
  text-align: right;
  color: blanchedalmond;
  color: rgb(201, 0, 0);
  border-radius: 3px;
}
nav .navul a {
  text-decoration: none;
  color: rgb(201, 0, 0);
}
nav .navul a:hover {
  font-weight: bold;
  color: rgba(214, 58, 18, 0.932);
}

.inired {
  background-color: red;
}

.inigrey {
  background-color: grey;
}

.inired {
  background-color: red;
}

.inigrey {
  background-color: grey;
}

.inired {
  background-color: red;
}

@-webkit-keyframes tracking-in-expand-fwd {
  0% {
    letter-spacing: -0.5em;
    transform: translateZ(-700px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes tracking-in-expand-fwd {
  0% {
    letter-spacing: -0.5em;
    transform: translateZ(-700px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    transform: translateZ(0);
    opacity: 1;
  }
}
footer {
  width: 100%;
  height: auto;
  color: blanchedalmond;
  background-color: rgba(0, 0, 0, 0.801);
}
footer h2 {
  font-weight: 800;
}
footer ul {
  display: flex;
  list-style: none;
  justify-content: center;
  gap: 8%;
}
footer ul a {
  text-decoration: none;
  color: rgb(201, 0, 0);
}
footer ul a:hover {
  font-weight: bold;
  color: rgba(214, 58, 18, 0.932);
}
footer ul a .f {
  gap: 8%;
}
footer div {
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  padding: 1% 1% 1% 1%;
}

.cards__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow: auto;
}
.cards__container img {
  width: 85%;
  margin: 5% 5% 5% 5%;
  border-radius: 8%;
}

.cards__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 2%;
  margin: 10%;
  font-family: "Rubik Dirt", cursive;
}

@media screen and (max-width: 680px) {
  .nav {
    height: auto;
  }
  .footer {
    height: auto;
  }
  /*index*/
  .main__index {
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 8px;
    grid-template-columns: repeat(1fr);
    grid-template-areas: "puerta" "video" "auto1" "auto2" "auto3" "auto4";
  }
  .autos {
    justify-content: center;
    align-items: center;
  }
  .autos iframe {
    height: 416px;
    width: 80%;
    justify-content: center;
  }
  .video {
    width: auto;
  }
  .video__tiktok {
    width: 80%;
    justify-content: center;
    align-items: center;
    margin: 10% 10% 10% 10%;
  }
  /*Autos*/
  .main__container {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
  }
  /*Boutique*/
  .main__boutique {
    flex-direction: column;
    flex-flow: wrap;
    gap: 8px;
  }
  .servicios {
    width: 75%;
  }
  .videosb {
    display: contents;
  }
  /*Contacto*/
  .main__contacto {
    flex-flow: wrap-reverse;
    height: auto;
  }
  .main__contactop {
    width: 95%;
    margin: 6%;
    padding: 6%;
  }
  /*Quienes somos*/
  .main__quienessomos {
    height: 86vh;
  }
}
@media screen and (max-width: 950px) {
  /*index*/
  .video__tiktok {
    height: 520px;
  }
  /*Auto*/
  .main__container {
    grid-template-columns: repeat(2, 1fr);
  }
  /*Boutique*/
  .videosb {
    margin: 1% 10% 4% 0%;
  }
  /*Contacto*/
  .main__contacto {
    height: 100%;
  }
  .main__contactop {
    width: 95%;
    margin: 6%;
    padding: 6%;
  }
  /*Quienes somos*/
  .main__quienessomos {
    height: 180vh;
  }
}/*# sourceMappingURL=estilos.css.map */