@import url('https://fonts.googleapis.com/css2? family=Combo&display=swap');
    $quines:'Combo', cursive;
%monaco{
    color: white;

        &::first-letter {
            color: rgba(206, 21, 21, 0.596);
            font-size: 42px
        }
}
