
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

::selection {
    background-color: rgba(214, 57, 18, 0.596);
}

#gradientebottomright {
    background-image: linear-gradient(to bottom right,
            rgba(201, 0, 0, 0.774), rgba(214, 57, 18, 0.596));
}

body {
    text-transform: capitalize;
}

.ini {
    margin: 15px;
    list-style-type: none;
    text-decoration: none;
    text-align: right;
    color: blanchedalmond;
    color: rgb(201, 0, 0);

}

a {
    text-decoration: none;
    color: rgb(201, 0, 0) !important;
}

a:hover,
.ini:hover {
    font-weight: bold;
    color: rgba(214, 58, 18, 0.932)
}

.nav {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.801);
    background-position: top;
    position: sticky;
    top: 0px;
    height: 81px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;


}

.nav h2 {
    color:white;
}
.nav h2::first-letter {
    color:rgba(206, 21, 21, 0.596);
    font-size: 42px
}
.navul {
    list-style-type: disc;
    line-height: 1.5;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

main {
    min-height: 80vh;
}

.main__index {
    display: grid;
    grid-template-columns: repeat(1fr, 1fr, 1fr);
    grid-template-areas: "auto1 video auto3"
        "auto2 video auto4";
    width: 100%;
    padding: 20px 20px 20px 20px;
}

.auto1 {
    grid-area: auto1;
}

.auto2 {
    grid-area: auto2;
}

.video {
    grid-area: video;
}

.auto3 {
    grid-area: auto3;
}

.auto4 {
    grid-area: auto4;
}

.card:hover {
    transform: scale(1.1);
}


.video__tiktok {
    width: 350px;
    height: 600px;
}

.footer {
    height: 89px;
    color: blanchedalmond;
    background-color: rgba(0, 0, 0, 0.801);
   
}

.footer h2 {
    padding-left: 10px;
    padding-top: 5px;

}
.footer h2::first-letter {
    color:rgba(206, 21, 21, 0.596);
    font-size: 42px
}

.footer ul {
    display: flex;
    list-style: none;
    width: 450px;
    margin: 0 auto;
    justify-content: center;
}

.footer ul li {
    margin: 10px;
}

/*Autos*/
.main__container {

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap:8px;
    justify-items: center;
    justify-content: center;
}

.autos {
    transition: all 2s;
}

.autos:hover {
    transform: scale(1.03);
}

.autos iframe {
    height: 330px;
}

/*Boutique*/
.main__boutique {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
        "servicios videosb"
        "ej ej ";


}

.servicios {
    grid-area: servicios;
    background-color: rgba(119, 114, 114, 0.8);
    justify-content: center;
    justify-items: center;
    text-align: center;
    height: 65%;
    padding: 10px 10px 10px 10px;
    margin: 100px 100px 100px 100px;

}

.serv {
    text-decoration: none;
    list-style-type: none;
}

.videob {
    grid-area: videob;
    justify-content: center;
    justify-items: center;
    height: 55%;
    margin: 100px 100px 100px 100px;
    height: 65%;
}

.video__boutique {
    justify-content: center;
    justify-items: center;
    width: 80%;
    height: 550px;
}

.ej {
    grid-area: ej;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    justify-content: center;


}

/*Contactos*/
.main__contacto {
    height: 100%;
    width: 100%;
    background-color: rgba(119, 114, 114, 0.8);
}

.main__contactop {
    background-color: rgba(119, 114, 114, 0.8);
}

@media screen and (max-width: 680px) {

    /*index*/
    .main__index {
        justify-content: center;
        gap: 8px;
        grid-template-columns: repeat(1fr);
        grid-template-areas: "video"
            "auto1"
            "auto2"
            "auto3"
            "auto4"
    }

    .autos iframe {
        height: 416px;
        width: 80%;
    }

    .video__tiktok {
        width: 80%;
        height: 430px;
    }

    /*Autos*/
    .main__container {
        grid-template-columns: repeat(1, 1fr);
       justify-content: center;
    }
}